[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "AICcmodavg"]
	path = AICcmodavg
	url = https://github.com/cran/AICcmodavg
	shallow = true
	registered = true
